name: Check nix flake

on:
  pull_request:
    branches: [master, main]
    paths:
      - "flake.*"
      - "distro/nix/**"
jobs:
  check-flake:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Check the flake
        run: nix flake check
